<div ng-include="'app/app-navbar.tpl.html'"></div>
<div id="users" class="container-fluid app-content" ng-cloak>
  <h1>Getting ready</h1>
  <form class="form-horizontal" role="form" ng-submit="ctrl.save()">

    <div class="form-group">
        <label for="wind_strength" class="col-sm-2 control-label">Wind (kt)</label>
      <div class="col-sm-10">
        <rzslider
            name="wind_strength"
             rz-slider-model="ctrl.wind_strength"
             rz-slider-options="ctrl.wind_strength_options" />
      </div>
    </div>

    <div class="form-group">
        <label for="crew_weight" class="col-sm-2 control-label">Crew Weight (Kg)</label>
        <div class="col-sm-10">
            <rzslider
                name="crew_weight"
                rz-slider-model="ctrl.crew_weight"
                rz-slider-options="ctrl.crew_weight_options" />
      </div>
    </div>

    <div class="form-group">
        <label for="water_type" class="col-sm-2 control-label">Water</label>
      <div class="col-sm-10">
        <toggle ng-model="ctrl.is_salt" ng-change="ctrl.change()" on="Salt" off="Fresh&nbsp;"></toggle>
      </div>
    </div>

    <div class="form-group">
        <label for="water_temp" class="col-sm-2 control-label">Water Temp</label>
      <div class="col-sm-10">
            <rzslider
                name="water_temp"
                rz-slider-model="ctrl.water_temp"
                rz-slider-options="ctrl.water_temp_options" />
      </div>
    </div>

<!--     <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
      </div>
    </div> -->
  </form>

  <div id="recommendations">
    <h2>Recommendations</h2>
    <div> <!-- <div ng-if="ctrl.ready===true"> -->
        <p>General</p>
        <ul>
            <li>Downhaul: {{ctrl.rec_downhaul}}
            </li>
            <li>Outhaul: {{ctrl.rec_outhaul}}
            </li>
            <li>Mast Rotator: {{ctrl.rec_rotator}}
            </li>
            <li>Foil Rake: {{ctrl.rec_foil_rake}}
            </li>
        </ul>
    </div>
  </div>
</div>